<!DOCTYPE html>
<html>
  <head>
    <title>Microblog</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <span class="navbar-brand">
            <strong>Twitcher</strong>
          </span>
          <span class="navbar-brand">
            <% if @current_user %>
              Hello, <%= @current_user.username %>
            <% end %>
          </span>
          <ul class="nav navbar-nav">
            <li>
              <% if @current_user %>
                <%= link_to "Post New Twit", new_twit_path %>
              <% end %>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if @current_user %>
            <li>
              <%= link_to "Log Out", sign_out_path, method: :delete %>
            </li>
            <% end %>
          </ul>
        </div>
      </nav>
      <% if alert %>
        <div class="alert"><%= alert %></div>
      <% end %>
      <% if notice %>
        <div class="notice"><%= notice %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
